{{ define "main" }}
  {{ partial "page-header" . }}

  <section class="section">
    <div class="container">
      <div class="row gx-5">
        <!-- blog posts -->
        <div class="lg:col-8">
          <ul class="row">
            {{ range (.RegularPagesRecursive.ByLastmod | last 10).Reverse }}
              <li class="mb-2">
                {{ partial "components/blog-list-item" . }}
              </li>
            {{ end }}
          </ul>
        </div>
        <!-- sidebar -->
        <div class="lg:col-4">
          <!-- widget -->
          {{ $widget:= site.Params.widgets.sidebar }}
          {{ partialCached "widgets/widget-wrapper" ( dict "Widgets" $widget "Scope" . ) }}
        </div>
      </div>
    </div>
  </section>
{{ end }}
